:root {
    --soft-red: hsl(10, 79%, 65%);
    --cyan: hsl(186, 34%, 60%);
    --dark-brown: hsl(25, 47%, 15%);
    --medium-brown: hsl(28, 10%, 53%);
    --cream: hsl(27, 66%, 92%);
    --pale-orange: hsl(33, 100%, 98%);
}

body {
    font-size: 1.1rem;
    font-family: 'DM Sans', sans-serif;
    background-color: var(--cream);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.app {
    max-width: 1440px;
    margin: 5rem auto;
}

.header {
    max-width: 600px;
    margin: auto;
    border-radius: 20px;
}

.header {
    background-color: var(--soft-red);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.header__title, .header__subtitle {
    color: #FFF;
}

.header__title {
    padding-top: 2rem;
    padding-left: 1.5rem;
}

.header__subtitle {
    font-weight: 700;
    font-size: 2rem;
    padding: 1rem 1rem 2rem 1.5rem ;
}

.header__logos {
    width: 33%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

.header__logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.header__logo--light {
    border: 2px solid #FFF;
    position: relative;
    left: .6rem;
    z-index: 1;
}

.header__logo--dark {
    background-color: var(--dark-brown);
    position: relative;
    left: -.6rem;
}

.main, .footer {
    background-color: var(--pale-orange);
}

.main {
    max-width: 600px;
    margin: auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: 1.5rem;
    display: flex;
    flex-flow: column nowrap;
}

.main__title {
    font-size: 2rem;
    font-weight: 700;
    padding-top: 2rem;
    padding-left: 2.5rem;
    margin-bottom: 1rem;
    color: var(--dark-brown);
}

.main__chart {
    width: 100%;
    margin: 1rem auto 0;
    padding: 1.5rem 2.5rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.chart__container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-end;
    width: calc(100% / 7);
}

.chart__day {
    color: var(--medium-brown);
    font-size: 1rem;
    margin-top: .5rem;
}

.chart__datas {
    width: calc(100% - 1rem);
    background-color: var(--soft-red);
    border-radius: 5px;
}

.chart__datas:hover {
    opacity: 0.5;
}

.chart__datas--wed {
    background-color: var(--cyan);
}

.chart__datas__modal {
    visibility: hidden;
    width: 75px;
    background-color: var(--dark-brown);
    border-radius: 5px;
    padding: .8rem 0.1rem;
    margin-bottom: .5rem;
    color: #FFF;
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
    
}

.separator {
    display: block;
    width: calc(100% - 5rem);
    height: 2px;
    background-color: var(--cream);
    margin: auto;
}

.footer {
    max-width: 600px;
    margin: auto;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;
    padding: 2rem 2.5rem 3rem 2.5rem;
}

.footer__subtitle {
    color: var(--medium-brown);
}

.footer__currency {
    color: var(--dark-brown);
    font-weight: 700;
    font-size: 2.8rem;
    margin-top: 1rem;
}

.footer__progression {
    font-weight: 700;
    color: var(--dark-brown);
    text-align: right;
    margin-bottom: .5rem;
}

@media screen and (max-width: 400px) {
    .app {
        padding: 0 1rem;
    }

    .main__title {
        font-size: 1.7rem;
        padding-left: 1rem;
        margin-bottom: 0;
    }

    .main__chart {
        padding: 0 1rem;
    }

    .footer {
        padding: 2rem 1rem 3rem 1rem;
        align-items: flex-end;
    }

    .footer__currency {
        font-size: 2.3rem;
    }
}